{% load static %}
{% load i18n %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'darchan/css/matrix.css' %}" />

{% block js %}
  {% if block.context %}{{ block.super }}{% endif %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(function() {
      $("#tabs").tabs();
    });
  </script>
{% endblock %}

{% if matrix %}
  <div id="tabs">
    <ul>
      <li id="tab1-link"><a href="#tabs-1">{% trans "Dependency Matrix" %}</a></li>
      <li id="tab2-link"><a href="#tabs-2">{% trans "Architecture Analysis" %}</a></li>
    </ul>
    <div id="tabs-1">
      <div class="col-md-6">
        <div id="legend" class="panel panel-success">
          <div class="panel-heading">
            <input type="button" class="btn panel-title"
                   data-toggle="collapse" data-parent="#legend" data-target="#collapse-legend"
                   value="{% trans 'Legend' %}">
          </div>
          <div class="panel-collapse collapse list-group in" id="collapse-legend">
            <svg id="legend-svg"></svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="settings" class="panel panel-success">
          <div class="panel-heading">
            <input type="button" class="btn panel-title"
                   data-toggle="collapse" data-parent="#settings" data-target="#collapse-settings"
                   value="{% trans 'Settings' %}">
          </div>
          <div class="panel-collapse collapse list-group in" id="collapse-settings">
            <div>
              {% trans "Order by" %}
              <select id="order" class="pull-right btn btn-default settings-btn">
                {% for sort in matrix.sorts_as_list %}
                  <option value="{{ sort }}">
                    {% trans sort|capfirst %}
                  </option>
                  <option value="{{ sort }}_reverse">
                    {% trans "Reverse "|add:sort|capfirst %}
                  </option>
                  {% if not forloop.last %}
                    <option disabled>---------------------------</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <br>
            <div>
              {% trans "Depth" %}
              <div class="pull-right settings-btn">
                {% for d in max_depth %}
                  <a class="label label-{% if d == matrix.depth %}success active{% else %}default{% endif %}" href="{% url 'view_matrix' builder.id d %}">{{ d }}</a>
                {% endfor %}
              </div>
            </div><br>
            <div>
              {% trans "New matrix" %}
              <a class="btn btn-default pull-right settings-btn" href="{% url 'generate_matrix' %}">
                {% trans "Generate" %}</a>
            </div><br>
            <div>
              {% trans "Download as CSV" %}
              <a class="btn btn-default pull-right settings-btn" href="{% url 'download_csv' builder.id matrix.depth %}">
                {% trans "Download" %}</a>
            </div><br>
            <div>
              {% trans "History" %}
              <button class="dropdown-toggle btn btn-default pull-right settings-btn" data-toggle="dropdown">
                {{ builder.created }} <span class="caret"></span></button>
              <ul id="history" class="dropdown-menu">
                {% for b in history %}
                  <li><a href="{% url 'view_matrix' b.id 1 %}">{{ b.created }}</a></li>
                {% empty %}
                  <li><a href="{% url 'generate_matrix' %}">{% trans "No history - Generate a new matrix" %}</a></li>
                {% endfor %}</ul>
            </div>
          </div>
        </div>
      </div>
      <div id="tooltip"></div>
      <div id="matrix"></div>
  <!-- Including d3js script -->
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- Defining global JS variables -->

      <script>
      var root = {{ matrix.json_data|safe }};
      var groups = {{ builder.groups|safe }};
      groups.push("{% trans "Outside-group dependencies" %}");
      var margin = {top: 200+{{ matrix.depth }}*40, right: 150, bottom: 10, left: 100+{{ matrix.depth }}*40},
          width = {% if matrix.size < 40 %}600{% else %}10 * {{ matrix.size }} + 200{% endif %},
          height = {% if matrix.size < 40 %}600{% else %}10 * {{ matrix.size }} + 200{% endif %};
      </script>

  <!-- Including darchan matrix JS script -->
      <script src="{% static "darchan/js/matrix.js" %}"></script>
    </div>
    <div id="tabs-2">
      <div id="archan" class="panel panel-default">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center active">{% trans "Criterion" %}</th>
              <th class="text-center active">{% trans "Checked" %}</th>
              <th class="text-center active">{% trans "Description" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for criterion in criteria %}
              <tr>
                <td>{{ criterion.object }}</td>
                {% if criterion.value %}
                  <td class="success"><i class="glyphicon glyphicon-ok"></i></td>
                {% else %}
                  <td class="danger"><i class="glyphicon glyphicon-remove"></i></td>
                {% endif %}
                <td class="text-justify">{% trans criterion.object.description|linebreaks %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% else %}
  <div class="container" role="main">
    <div class="bs-callout bs-callout-danger">
      <h4>{% trans "Wrong URL" %}</h4>
      {% trans "The requested matrix could not be found in the database." %}
    </div>
    <div class="text-center">
      <h4><a href="{% url 'generate_matrix' %}">
        {% trans "Try to generate a new matrix" %}
      </a></h4>
      {% if history %}
        <h4>{% trans "History" %}</h4>
        <ul class="list-unstyled">
          {% for b in history %}
            <li><a href="{% url 'view_matrix' b.id 1 %}">{{ b.created }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}